@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mr+Dafoe&family=Noto+Sans+Mende+Kikakui&display=swap);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #25274D;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

h1 {
    font-family: 'Mr Dafoe', 'Great Views';
    color: #2e9cca;
    font-size: 4em;
    text-align: center;
}

h2 {
    color: #fff;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

.starter-text {
    color: #fff;
    font-size: 1.3em;
    padding: 10px 0 10px 0;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.8em;
    margin: 3rem;
}

/* -------------------------------- css styling for game page */

#questions-count {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: right;
    color: white;
}

#flip-container {
    width: 98vw;
    position: relative;
    text-align: center;
}

#flipcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 98vw;
    height: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2rem;
    padding: 1em;
    margin: 10px auto;
    position: absolute;
    inset: 0;
    transform: rotateY(90deg);
}

#flipcard > h1 {
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-size: 2em;
}
#flip-container.correct > #flipcard {
    border: 3px solid limegreen;
}

#flip-container.correct h1 {
    color: limegreen;
}

#flip-container.incorrect > #flipcard {
    border: 3px solid rgb(235, 30, 64);
}

#flip-container.incorrect h1 {
    color: rgb(235, 30, 64);
}

#flipcard > hr {
    margin: 2em 1em;
}

.flip > div:first-child {
    animation: flip-in 1s 1s ease-in forwards;
}

#flip-front {
    height: fit-content;
    min-height: 200px;
    width: 500px;
    max-width: 98vw;
    margin: 0 auto;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotateY(0deg);
    border: 2px solid #fff;
}

.flip > div:nth-child(2) {
    animation: flip-out 1s ease-in forwards;
}

@keyframes flip-in {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes flip-out {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(90deg);
    }
}

.answers-container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.answer {
    background-color: #fff;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-size: 1.8em;
    width: 35%;
    padding: 0.8em;
    margin: .5em 1em;
    text-align: center;
    border: 1px solid #000;
    border-radius: .8em;
    cursor: pointer;
}

.answer:hover {
    background-color: #25274D;
    border: #fff 1px solid;
    color: #fff;
    transition: 250ms;
    transform: scale(1.1);
}

.results-screen {
    display: none;
    color: #fff;
    font-size: 1.8em;
    margin: 1em;
}

/* -------------------------------- css styling for cards */

a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

/* -------------------------------- css styling for cards */

.card {
    padding: 1em;
    min-width: 300px;
    background-color: #aaabb8;
}

.card-title {
    color: #000;
    font-size: 1.8em;
}

h5.card-title {
    font-size: 1.5em;
}

#main-text {
    background-color: #fff;
}

.card-text {
    color: #000;
}

.creators-cards > div.card {
    width: minmax(12em, 400px);
    overflow: hidden;
}

/* -------------------------------- Navbar */
.offcanvas-title {
    font-size: 3em;
    font-family: 'Mr Dafoe', 'Great Views';
    color: #2e9cca;
    text-align: center;
    padding-left: 15px;
}

.offcanvas-body {
    background-color: #25274D;
}

.offcanvas-header {
    background-color: #25274D;
}

.offcanvas-header > button.btn-close {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    background-image: none;
}

.nav-link {
    color: #fff;
    font-size: 25px;
    padding: 30px 15px 30px 15px;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

.navbar-nav .nav-link.active {
    color: #2e9cca;
    opacity: .6;
}

.navbar-nav .nav-link:hover {
    color: #2e9cca;
}

ul.navbar-nav {
    height: 98%;
    font-size: 1.5em;
}

.push-down {
    margin-top: auto;
}

.custom-toggler {
    position: relative;
    width: 50px;
    height: 32px;
}

.custom-toggler * {
    margin: 0;
    padding: 0;
}
.custom-toggler:focus {
    outline: 1px solid grey;
}

.navbar-toggler-clef {
    position: relative;
    padding: 0;
}

.navbar-toggler-clef > img {
    width: 44px;
    margin: 0;
    position: absolute;
    top: -20px;
    left: -22px;
}

.music-sheet {
    --color: rgb(156, 155, 155);
    position: absolute;
    top: -6px;
    left: -8px;
    width: 40px;
    height: 6px;
    border-block: 2px solid var(--color);
}

.music-sheet::before,
.music-sheet::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--color);
}

.music-sheet::after {
    height: 6px;
    background-color: transparent;
    top: 6px;
    border-block: 2px solid var(--color);
}

/* -------------------------------- Main content */
main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-content {
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#explination-layout {
    display: flex;
}

#play-layout {
    text-align: center;
}

#play,
#next,
#play-again {
    width: 200px;
    margin: 1em auto;
    background-color: #fff;
    color: #000;
    font-size: 1.5em;
    padding: 15px;
    transition: 250ms;
}

#play:hover,
#play:focus,
#next:hover,
#next:focus,
#play-again:hover,
#play-again:focus {
    margin: 1em auto;
    padding: 15px;
    transition: 250ms;
    background-color: #25274D;
    border: #fff 1px solid;
    color: #fff;
    transform: scale(1.1);
}

#next,
#play-again {
    font-size: 1.3em;
}

.final {
    display: none;
}

#final-score {
    font-size: 1.5em;
    color: #000;
}

#click-here {
    text-decoration: underline;
    color: #fff;
}

#click-here:hover {
    text-decoration: none;
    color: #fff;
}

/* -------------------------------- music banner image */

.backg-img {
    background-image: url('/assets/images/music-banner.jpg') repeat;
    min-height: 100%;
}

/* -------------------------------- Footer */
footer {
    text-align: center;
    background-color: #25274D;
}

footer > p {
    font-size: 0.9em;
    color: #fff;
}

#pause-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* -------------------------------- Creator page */

#creator-layout {
    padding: 100px 0 50px 0;
}

.creator-text {
    color: #fff;
}

/* -------------------------------- Media Queries */

@media screen and (max-width: 400px) {
    .answer {
        width: 80%;
        margin: 5px;
  }
}

