*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr auto;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    margin: 3rem;
}

/* -------------------------------- css styling for game page */

#questions-count {
    width: 80%;
    margin-top: 50px;
    font-size: 3em;
    text-align: right;
}

#flip-container {
    width: 98vw;
    position: relative;
    text-align: center;
}

#flipcard {
    width: 500px;
    max-width: 98vw;
    height: 95%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2rem;
    padding: 1em;
    font-size: 2em; 
    margin: 10px auto;
    position: absolute;
    inset: 0;
    transform: rotateY(90deg);
}

.flip > div:first-child {
    animation: flip-in 1s 1s ease-in forwards;
}

.video-container {
    background-color: black;
    height: fit-content;
    min-height: 300px;
    width: 500px;
    max-width: 98vw;
    margin: 0 auto;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotateY(0deg);
}

.flip > div:nth-child(2) {
    animation: flip-out 1s ease-in forwards;
}

@keyframes flip-in {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes flip-out {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(90deg);
    }
}

#answers {
    position: relative;
}

.answers-container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.answer {
    width: 40%;
    padding: 2rem 3rem;
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #000;
    border-radius: 2rem;
    cursor: pointer;
}

.answer:hover,
.answer:focus {
    background-color: rgb(177, 213, 223);
    outline: none;
}

.results-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: #fff;
}

.results-screen h2 {
    font-size: 4rem;
}

.results-screen h3 {
    font-size: 3rem;
    margin: 2rem;
}


/* -------------------------------- css styling for cards */

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px;
}

/* -------------------------------- css styling for cards */

.card {
    padding: 1em;
    min-width: 200px;
}

.creators-cards > div.card {
    width: minmax(12em, 400px);
    overflow: hidden;
}


/* -------------------------------- Navbar */
.offcanvas-title {
    font-size: 2em;
}

ul.navbar-nav {
    height: 98%;
    font-size: 1.5em;
}

.push-down {
    margin-top: auto;
}

.custom-toggler {
    position: relative;
    width: 50px;
    height: 32px;
}

.custom-toggler * {
    margin: 0;
    padding: 0;
}
.custom-toggler:focus {
    outline: 1px solid grey;
}

.navbar-toggler-clef {
    position: relative;
    padding: 0;
}

.navbar-toggler-clef > img {
    width: 44px;
    margin: 0;
    position: absolute;
    top: -20px;
    left: -22px;
}

.music-sheet {
    --color: rgb(156, 155, 155);
    position: absolute;
    top: -6px;
    left: -8px;
    width: 40px;
    height: 6px;
    border-block: 2px solid var(--color);
}

.music-sheet::before,
.music-sheet::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--color);
}

.music-sheet::after {
    height: 6px;
    background-color: transparent;
    top: 6px;
    border-block: 2px solid var(--color);
}

/* -------------------------------- Main content */
main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 100%;
}

#play {
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
}

/* -------------------------------- music banner image */

.backg-img {
    background-image: url('/assets/images/music-banner.jpg') repeat;
    min-height: 100%;
}

/* -------------------------------- Footer */
footer {
    text-align: center;
}

#pause-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* -------------------------------- Media Queries */

@media screen and (max-width: 400px) {
    .answer {
        width: 80%;
        margin: 5px;
  }
    #questions-count {
        font-size: 2em;
    }
}

