@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mr+Dafoe&family=Noto+Sans+Mende+Kikakui&display=swap);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr auto;
    background-color: #25274D;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

h1 {
    font-family: 'Mr Dafoe', 'Great Views';
    color: #2e9cca;
    font-size: 7em;
    text-align: center;
}

#how-to-play-logo {
    padding: 50px 0 20px 0;
}

.starter-text {
    color: #fff;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    margin: 3rem;
}

#questions-count {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 3em;
}

.video-container {
    border-radius: 2rem;
    overflow: hidden;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.answer {
    width: 40%;
    padding: 2rem 3rem;
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #000;
    border-radius: 2rem;
    cursor: pointer;
}

.results-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.results-screen h2 {
    font-size: 4rem;
}

.results-screen h3 {
    font-size: 3rem;
    margin: 2rem;
}


/* -------------------------------- css styling for cards */

a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

/* -------------------------------- css styling for cards */

.card {
    padding: 1em;
    min-width: 200px;
    background-color: #aaabb8;
}

.card-title {
    color: #000;
    font-size: 2em;
}

#main-text {
    background-color: #fff;
}

.card-text {
    color: #000;
    font-size: 1.3em;
}

.creators-cards > div.card {
    width: minmax(12em, 400px);
    overflow: hidden;
}


/* -------------------------------- Navbar */
.offcanvas-title {
    font-size: 5.5em;
    font-family: 'Mr Dafoe', 'Great Views';
    color: #2e9cca;
    text-align: center;
}

.offcanvas-body {
    background-color: #25274D;
}

.nav-link {
    color: #2e9cca;
}

ul.navbar-nav {
    height: 98%;
    font-size: 1.5em;
}

.push-down {
    margin-top: auto;
}

.custom-toggler {
    position: relative;
    width: 50px;
    height: 32px;
}

.custom-toggler * {
    margin: 0;
    padding: 0;
}
.custom-toggler:focus {
    outline: 1px solid grey;
}

.navbar-toggler-clef {
    position: relative;
    padding: 0;
}

.navbar-toggler-clef > img {
    width: 44px;
    margin: 0;
    position: absolute;
    top: -20px;
    left: -22px;
}

.music-sheet {
    --color: rgb(156, 155, 155);
    position: absolute;
    top: -6px;
    left: -8px;
    width: 40px;
    height: 6px;
    border-block: 2px solid var(--color);
}

.music-sheet::before,
.music-sheet::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--color);
}

.music-sheet::after {
    height: 6px;
    background-color: transparent;
    top: 6px;
    border-block: 2px solid var(--color);
}

/* -------------------------------- Main content */
main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 100%;
}

#explination-layout {
    display: flex;
}

#play-layout {
    text-align: center;
}

#play {
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    background-color: #fff;
    color: #000;
    font-size: 1.8em;
    padding: 15px;
    transition: 250ms;
}

#play:hover {
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    font-size: 1.8em;
    padding: 15px;
    transition: 250ms;
    background-color: #25274D;
    border: #fff 1px solid;
    color: #fff;
    transform: scale(1.1);
}

#click-here {
    text-decoration: underline;
    color: #fff;
}

#click-here:hover {
    text-decoration: none;
    color: #fff;
}

/* -------------------------------- music banner image */

.backg-img {
    background-image: url('/assets/images/music-banner.jpg') repeat;
    min-height: 100%;
}

/* -------------------------------- Footer */
footer {
    text-align: center;
    background-color: #25274D;
}

footer > p {
    font-size: 1.5em;
    color: #fff;
}

#pause-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* -------------------------------- Answer buttons */

.answer {
    background-color: #fff;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-size: 2em;
}

.answer:hover {
    background-color: #25274D;
    border: #fff 1px solid;
    color: #fff;
    transition: 250ms;
    transform: scale(1.1);
}

/* -------------------------------- Creator page */

#creator-layout {
    padding: 100px 0 50px 0;
}

.creator-text {
    color: #fff;
}